<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPC GPT</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/home.css">
</head>

<body>

    <nav>
        <div id="logo">IPC GPT</div>
        <div id="links">
            <a href="/ipc-dataset">IPC Sections</a>
            <a href="/fir-form">FIR Form</a>
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero">
        <h1>Welcome to IPC GPT</h1>
        <p>Our state of the art AI model helps to analyse crime reports</p>
    </section>

    <!-- Model Tiles -->
    <section class="models" id="allmodels">
        <div class="model-tile">
            <img src="static\images\OCR.png" alt="OCR Detection" class="icon-image">
            <h3>OCR Detection</h3>
            <p>Input copy of FIR to analyse</p>
            <section class="cta">
                <button class="cta-btn"><a href="/ocr-analysis">Try it</a></button>
            </section>
        </div>
        <div class="model-tile">
            <img src="static\images\crime-report.png" alt="FIR Analysis" class="icon-image">
            <h3>FIR Analysis</h3>
            <p>Input FIR details to analyse crimes</p>
            <section class="cta">
                <button class="cta-btn"><a href="/report-crime">Try it</a></button>
            </section>
        </div>
    </section>

    <!-- Call to Action -->
    <section class="cta">
        <button class="cta-btn"><a href="#">Explore Our Models</a></button>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 PenPixel LLP | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
        <p><a href="mailto:contact@yourcompany.com">contact@penpixel.com</a> | Social Media Links Here</p>
    </footer>
    <script src="static/js/scripts.js"></script>
</body>

</html>
